* {
    margin: 0px;
    list-style: none;

    text-decoration: none;
    font-family: 'Kanit', sans-serif;
}

body {
    background-image: url(image/traffic.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

nav {
    background-color: #333;
    padding: 20px;
    justify-content: space-between;
    /*logo left nav right*/
}



ul {
    float: right;
    
}


li {
    display: inline;
    /* เรียงกันแถวเดียว */
}

li a {
    color: white;
    padding: 20px;

}

ul li:nth-child(2) a {
    color: aqua;
}

ul li:last-child a {
    background-color: yellow;
    padding: 7px;
    color: black;
    border-radius: 5px;
}

ul li:last-child:hover a {
    background-color: red;
}


.container {
    background-color: #888888e5;
    padding: 50px;
    border: 2px solid black;
    margin: auto;
    width: 50%;
    margin-top: 50px;
}